/* line 5, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.3-p547/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/page-style.scss */
h1 {
  font-size: 2.4em;
}

/* line 16, ../sass/page-style.scss */
h2 {
  font-size: 2.2em;
}

/* line 20, ../sass/page-style.scss */
h3 {
  font-size: 1.8em;
}

/* line 24, ../sass/page-style.scss */
h4 {
  font-size: 1.6em;
}

/* line 28, ../sass/page-style.scss */
body {
  font-size: 62.5%;
  font-family: sans-serif;
  text-align: center;
  background: url("/images/bg.gif") repeat 0 0 #efeeeb;
}

/* line 35, ../sass/page-style.scss */
nav {
  position: absolute;
  position: fixed;
  background-color: HSL(0, 0%, 100%);
  width: 100%;
  height: 6em;
  top: 0%;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  line-height: 6em;
  box-sizing: border-box;
  z-index: 9999;
}
/* line 47, ../sass/page-style.scss */
nav .nav-container {
  margin: auto;
  width: 1000px;
  position: relative;
}
/* line 53, ../sass/page-style.scss */
nav .nav-left {
  width: 50%;
  float: left;
}
/* line 56, ../sass/page-style.scss */
nav .nav-left .logo {
  position: absolute;
  left: 0px;
  font-size: 2.4em;
  color: HSL(137, 20%, 24%);
  text-decoration: none;
}
/* line 64, ../sass/page-style.scss */
nav .nav-left .search-input {
  position: absolute;
  margin-left: 100px;
}
/* line 67, ../sass/page-style.scss */
nav .nav-left .search-input input {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px HSL(45, 12%, 93%) solid;
  padding-left: 12px;
}
/* line 74, ../sass/page-style.scss */
nav .nav-left .search-input input:focus {
  outline: 0;
}
/* line 79, ../sass/page-style.scss */
nav .nav-left .search-input i {
  font-size: 1.5em;
  position: absolute;
  top: 22px;
  left: 230px;
}
/* line 88, ../sass/page-style.scss */
nav .nav-right {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 2.4em;
}
/* line 93, ../sass/page-style.scss */
nav .nav-right img {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding-top: 20px;
}
/* line 99, ../sass/page-style.scss */
nav .nav-right a {
  text-decoration: none;
  color: HSL(137, 20%, 24%);
  margin: auto 10px;
}

/* line 107, ../sass/page-style.scss */
.container {
  width: 1000px;
  overflow: hidden;
  margin: 60px auto 20px auto;
}

/* line 114, ../sass/page-style.scss */
.account-info {
  float: left;
  width: 35%;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: HSL(0, 0%, 100%);
  border-right: 20px HSL(45, 12%, 93%) solid;
  text-align: left;
}
/* line 123, ../sass/page-style.scss */
.account-info .account {
  border-bottom: 20px HSL(45, 12%, 93%) solid;
  text-align: center;
}
/* line 126, ../sass/page-style.scss */
.account-info .account img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 30px auto 20px auto;
}
/* line 133, ../sass/page-style.scss */
.account-info .account h2 {
  margin-bottom: 10px;
}
/* line 137, ../sass/page-style.scss */
.account-info .account p {
  font-size: 1.5em;
  margin: 0 15% 10px 15%;
  line-height: 1.3;
}
/* line 143, ../sass/page-style.scss */
.account-info .account button {
  width: 150px;
  line-height: 1;
  padding: 15px 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: HSL(45, 12%, 93%);
  border: none;
}
/* line 155, ../sass/page-style.scss */
.account-info .more {
  font-size: 2.0em;
  text-decoration: none;
  color: HSL(130, 6%, 60%);
}
/* line 161, ../sass/page-style.scss */
.account-info .recent-read {
  padding: 20px 30px 20px 20px;
  border-bottom: 20px HSL(45, 12%, 93%) solid;
}
/* line 164, ../sass/page-style.scss */
.account-info .recent-read h2 {
  padding-bottom: 10px;
}
/* line 167, ../sass/page-style.scss */
.account-info .recent-read ul {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 170, ../sass/page-style.scss */
.account-info .recent-read ul li {
  overflow: hidden;
  width: 100%;
  line-height: 1.5;
  border-right: 20px;
}
/* line 175, ../sass/page-style.scss */
.account-info .recent-read ul li h3 {
  float: left;
}
/* line 177, ../sass/page-style.scss */
.account-info .recent-read ul li h3.name {
  margin-left: 10px;
  color: HSL(130, 6%, 60%);
}
/* line 182, ../sass/page-style.scss */
.account-info .recent-read ul li a {
  float: right;
  font-size: 1.8em;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-decoration: none;
  color: HSL(130, 6%, 60%);
}
/* line 190, ../sass/page-style.scss */
.account-info .recent-read ul .icon-dot {
  font-size: 1.8em;
  float: left;
  line-height: 1.5em;
}
/* line 199, ../sass/page-style.scss */
.account-info .friends {
  padding: 20px 30px 20px 20px;
}
/* line 201, ../sass/page-style.scss */
.account-info .friends h2 {
  margin-bottom: 10px;
}
/* line 204, ../sass/page-style.scss */
.account-info .friends ul {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 207, ../sass/page-style.scss */
.account-info .friends ul li {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
/* line 211, ../sass/page-style.scss */
.account-info .friends ul li img {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}
/* line 218, ../sass/page-style.scss */
.account-info .friends ul li .friend {
  margin-left: 60px;
}
/* line 220, ../sass/page-style.scss */
.account-info .friends ul li .friend .friend-name {
  float: left;
  margin-bottom: 5px;
}
/* line 224, ../sass/page-style.scss */
.account-info .friends ul li .friend a {
  float: right;
  font-size: 1.8em;
  color: HSL(130, 6%, 60%);
}
/* line 230, ../sass/page-style.scss */
.account-info .friends ul li .friend p {
  clear: both;
  font-size: 1.5em;
  color: HSL(130, 6%, 60%);
}

/* line 241, ../sass/page-style.scss */
.user-poetry-info {
  float: right;
  box-sizing: border-box;
  width: 65%;
}
/* line 245, ../sass/page-style.scss */
.user-poetry-info .total-number {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
/* line 249, ../sass/page-style.scss */
.user-poetry-info .total-number li {
  display: inline-block;
  width: 33.33%;
  float: left;
  padding: 10px 0;
  position: relative;
  background-color: white;
}
/* line 256, ../sass/page-style.scss */
.user-poetry-info .total-number li h2 {
  padding: 5px;
}
/* line 258, ../sass/page-style.scss */
.user-poetry-info .total-number li h2 a {
  color: HSL(137, 20%, 24%);
  text-decoration: none;
}
/* line 262, ../sass/page-style.scss */
.user-poetry-info .total-number li h2 a:hover {
  color: HSL(130, 6%, 60%);
}
/* line 268, ../sass/page-style.scss */
.user-poetry-info .total-number li p {
  font-size: 1.3em;
  color: HSL(130, 6%, 60%);
}
/* line 274, ../sass/page-style.scss */
.user-poetry-info .total-number li:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: HSL(130, 6%, 60%);
  top: 63px;
  left: 0;
}
/* line 285, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar {
  margin-top: 20px;
}
/* line 287, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li {
  position: relative;
  text-align: center;
  line-height: 60px;
  background-color: HSL(0, 0%, 100%);
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px HSL(45, 12%, 93%) solid;
}
/* line 295, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li img {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 30px;
  top: 10px;
}
/* line 304, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .poetry-info {
  color: HSL(137, 20%, 24%);
}
/* line 307, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .poetry-info h3 i {
  font-size: 10px;
  margin-left: 20px;
}
/* line 311, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .poetry-info h3 span {
  color: HSL(130, 6%, 60%);
}

/* line 323, ../sass/page-style.scss */
.poetry-class {
  float: left;
  width: 100%;
  margin-top: 20px;
  overflow: hidden;
  box-sizing: border-box;
}
/* line 329, ../sass/page-style.scss */
.poetry-class .title {
  height: 40px;
  line-height: 40px;
  color: HSL(137, 20%, 24%);
  background-color: white;
  border-bottom: 2px HSL(45, 12%, 93%) solid;
  border-radius: 3px;
}
/* line 337, ../sass/page-style.scss */
.poetry-class ul {
  margin-bottom: 20px;
}
/* line 339, ../sass/page-style.scss */
.poetry-class ul li {
  display: inline-block;
  width: 25%;
  height: 250px;
  line-height: 250px;
  float: left;
  box-sizing: border-box;
  background-color: white;
  border: 1px HSL(45, 12%, 93%) solid;
}

/* line 356, ../sass/page-style.scss */
footer {
  height: 60px;
  width: 100%;
  background-color: HSL(0, 0%, 100%);
}
