/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 13, ../sass/page-style.scss */
h1 {
  font-size: 2.4em;
}

/* line 17, ../sass/page-style.scss */
h2 {
  font-size: 2.2em;
}

/* line 21, ../sass/page-style.scss */
h3 {
  font-size: 1.8em;
}

/* line 25, ../sass/page-style.scss */
h4 {
  font-size: 1.6em;
}

/* line 29, ../sass/page-style.scss */
body {
  font-size: 62.5%;
  font-family: sans-serif;
  text-align: center;
  background: url("/images/bg.gif") repeat 0 0 #efeeeb;
  color: HSL(137, 20%, 24%);
}

/* line 37, ../sass/page-style.scss */
nav {
  position: absolute;
  position: fixed;
  background-color: HSL(0, 0%, 100%);
  width: 100%;
  height: 6em;
  top: 0%;
  -moz-box-shadow: 0px 0px 5px #333333;
  -webkit-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  line-height: 6em;
  box-sizing: border-box;
  z-index: 9999;
}
/* line 49, ../sass/page-style.scss */
nav .nav-container {
  margin: auto;
  width: 1000px;
  position: relative;
}
/* line 55, ../sass/page-style.scss */
nav .nav-left {
  width: 50%;
  float: left;
}
/* line 58, ../sass/page-style.scss */
nav .nav-left a:hover {
  color: HSL(130, 6%, 60%);
}
/* line 62, ../sass/page-style.scss */
nav .nav-left .logo {
  position: absolute;
  left: 0px;
  font-size: 2.4em;
  color: HSL(137, 20%, 24%);
  text-decoration: none;
}
/* line 70, ../sass/page-style.scss */
nav .nav-left .search-input {
  position: absolute;
  margin-left: 120px;
}
/* line 73, ../sass/page-style.scss */
nav .nav-left .search-input input {
  width: 250px;
  height: 30px;
  border-radius: 15px;
  border: 1px HSL(45, 12%, 93%) solid;
  padding-left: 12px;
}
/* line 80, ../sass/page-style.scss */
nav .nav-left .search-input input:focus {
  outline: 0;
}
/* line 85, ../sass/page-style.scss */
nav .nav-left .search-input i {
  font-size: 1.5em;
  position: absolute;
  top: 22px;
  left: 240px;
}
/* line 94, ../sass/page-style.scss */
nav .nav-right {
  width: 50%;
  float: right;
  text-align: right;
  font-size: 2.4em;
}
/* line 99, ../sass/page-style.scss */
nav .nav-right img {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  padding-top: 20px;
}
/* line 105, ../sass/page-style.scss */
nav .nav-right a {
  text-decoration: none;
  color: HSL(137, 20%, 24%);
  margin: auto 10px;
}
/* line 111, ../sass/page-style.scss */
nav .nav-right a:hover {
  color: HSL(130, 6%, 60%);
}

/* line 117, ../sass/page-style.scss */
.container {
  width: 1000px;
  overflow: hidden;
  margin: 60px auto 20px auto;
}

/* line 124, ../sass/page-style.scss */
.account-info {
  float: left;
  width: 35%;
  margin-top: 20px;
  box-sizing: border-box;
  background-color: HSL(0, 0%, 100%);
  border-right: 20px HSL(45, 12%, 93%) solid;
  text-align: left;
}
/* line 133, ../sass/page-style.scss */
.account-info .account {
  border-bottom: 20px HSL(45, 12%, 93%) solid;
  text-align: center;
}
/* line 136, ../sass/page-style.scss */
.account-info .account img {
  width: 120px;
  height: 120px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 30px auto 20px auto;
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 144, ../sass/page-style.scss */
.account-info .account h2 {
  margin-bottom: 10px;
}
/* line 148, ../sass/page-style.scss */
.account-info .account p {
  font-size: 1.5em;
  margin: 0 15% 10px 15%;
  line-height: 1.3;
}
/* line 154, ../sass/page-style.scss */
.account-info .account button {
  width: 150px;
  line-height: 1;
  padding: 15px 0;
  margin-bottom: 20px;
  font-size: 1.5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: HSL(45, 12%, 93%);
  border: none;
}
/* line 166, ../sass/page-style.scss */
.account-info .more {
  font-size: 2.0em;
  text-decoration: none;
  color: HSL(130, 6%, 60%);
}
/* line 171, ../sass/page-style.scss */
.account-info .more:hover {
  color: HSL(137, 20%, 24%);
}
/* line 176, ../sass/page-style.scss */
.account-info .recent-read {
  padding: 20px 30px 20px 20px;
  border-bottom: 20px HSL(45, 12%, 93%) solid;
}
/* line 179, ../sass/page-style.scss */
.account-info .recent-read h2 {
  padding-bottom: 10px;
}
/* line 182, ../sass/page-style.scss */
.account-info .recent-read ul {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 185, ../sass/page-style.scss */
.account-info .recent-read ul li {
  overflow: hidden;
  width: 100%;
  line-height: 1.5;
  border-right: 20px;
}
/* line 190, ../sass/page-style.scss */
.account-info .recent-read ul li h3 {
  float: left;
}
/* line 192, ../sass/page-style.scss */
.account-info .recent-read ul li h3.name {
  margin-left: 10px;
  color: HSL(130, 6%, 60%);
}
/* line 197, ../sass/page-style.scss */
.account-info .recent-read ul li a {
  float: right;
  font-size: 1.8em;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  text-decoration: none;
  color: HSL(130, 6%, 60%);
}
/* line 204, ../sass/page-style.scss */
.account-info .recent-read ul li a:hover {
  color: HSL(137, 20%, 24%);
}
/* line 209, ../sass/page-style.scss */
.account-info .recent-read ul .icon-dot {
  font-size: 1.8em;
  float: left;
  line-height: 1.5em;
}
/* line 218, ../sass/page-style.scss */
.account-info .friends {
  padding: 20px 30px 20px 20px;
  border-bottom: 20px HSL(45, 12%, 93%) solid;
}
/* line 221, ../sass/page-style.scss */
.account-info .friends h2 {
  margin-bottom: 10px;
}
/* line 224, ../sass/page-style.scss */
.account-info .friends ul {
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 227, ../sass/page-style.scss */
.account-info .friends ul li {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}
/* line 231, ../sass/page-style.scss */
.account-info .friends ul li img {
  width: 40px;
  height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}
/* line 238, ../sass/page-style.scss */
.account-info .friends ul li .friend {
  margin-left: 60px;
}
/* line 240, ../sass/page-style.scss */
.account-info .friends ul li .friend .friend-name {
  float: left;
  margin-bottom: 5px;
}
/* line 244, ../sass/page-style.scss */
.account-info .friends ul li .friend a {
  float: right;
  font-size: 1.8em;
  color: HSL(130, 6%, 60%);
  text-decoration: none;
}
/* line 250, ../sass/page-style.scss */
.account-info .friends ul li .friend a:hover {
  color: HSL(137, 20%, 24%);
}
/* line 255, ../sass/page-style.scss */
.account-info .friends ul li .friend p {
  clear: both;
  font-size: 1.5em;
  color: HSL(130, 6%, 60%);
}

/* line 266, ../sass/page-style.scss */
.user-poetry-info {
  float: right;
  box-sizing: border-box;
  width: 65%;
}
/* line 270, ../sass/page-style.scss */
.user-poetry-info .total-number {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}
/* line 274, ../sass/page-style.scss */
.user-poetry-info .total-number li {
  display: inline-block;
  width: 33.33%;
  float: left;
  padding: 10px 0;
  position: relative;
  background-color: white;
}
/* line 281, ../sass/page-style.scss */
.user-poetry-info .total-number li h2 {
  padding: 5px;
}
/* line 283, ../sass/page-style.scss */
.user-poetry-info .total-number li h2 a {
  color: HSL(137, 20%, 24%);
  text-decoration: none;
}
/* line 287, ../sass/page-style.scss */
.user-poetry-info .total-number li h2 a:hover {
  color: HSL(130, 6%, 60%);
}
/* line 293, ../sass/page-style.scss */
.user-poetry-info .total-number li p {
  font-size: 1.3em;
  color: HSL(130, 6%, 60%);
}
/* line 299, ../sass/page-style.scss */
.user-poetry-info .total-number li:first-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: HSL(130, 6%, 60%);
  top: 63px;
  left: 0;
}
/* line 310, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar {
  margin-top: 20px;
  overflow: hidden;
  background-color: HSL(0, 0%, 100%);
}
/* line 314, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li {
  position: relative;
  text-align: left;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  border-bottom: 2px HSL(45, 12%, 93%) solid;
}
/* line 321, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li img {
  width: 100%;
  height: 200px;
  margin-bottom: 5px;
}
/* line 326, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .famous {
  font-size: 1.8em;
  float: left;
  margin-bottom: 5px;
}
/* line 332, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .time {
  float: right;
  font-size: 1.5em;
  color: HSL(130, 6%, 60%);
}
/* line 338, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li h3 {
  margin-bottom: 10px;
}
/* line 342, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .content {
  font-size: 1.5em;
  line-height: 1.3;
  color: HSL(130, 6%, 60%);
}
/* line 348, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .icons {
  font-size: 1.5em;
}
/* line 350, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .icons a {
  margin: 10px 20px 0px 0;
  text-decoration: none;
  color: HSL(130, 6%, 60%);
  float: left;
}
/* line 355, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .icons a:last-child {
  margin-right: 0;
  float: right;
}
/* line 360, ../sass/page-style.scss */
.user-poetry-info .poetry-familiar li .icons a:hover {
  color: HSL(137, 20%, 24%);
}

/* line 370, ../sass/page-style.scss */
footer {
  height: 60px;
  width: 100%;
  background-color: HSL(0, 0%, 100%);
}
/* line 374, ../sass/page-style.scss */
footer .footer-container {
  width: 1000px;
  margin: auto;
  text-align: left;
  line-height: 60px;
  font-size: 1.8em;
}
/* line 380, ../sass/page-style.scss */
footer .footer-container a {
  text-decoration: none;
  float: left;
  margin-right: 20px;
  color: HSL(130, 6%, 60%);
}
/* line 385, ../sass/page-style.scss */
footer .footer-container a:hover {
  color: HSL(137, 20%, 24%);
}
/* line 390, ../sass/page-style.scss */
footer .footer-container p {
  float: right;
  color: HSL(130, 6%, 60%);
}
